body {
    overflow:hidden;
}

button {
	background-color:#003A6C;
	color:#fff;
	border:0;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor:pointer;
}

h1 {
	margin: 0;
}

h1.gabi {
	text-align:left;
}